In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
df_original = pd.read_csv('../../data/raw/detection_data.csv')
df_original = df_original.drop(['Unnamed: 7','Unnamed: 8'], axis=1)
df_original = df_original.rename(columns={'Output (S)':'output'})
df = df_original.copy()
df

       output          Ia         Ib          Ic        Va        Vb        Vc
0           0 -170.472196   9.219613  161.252583  0.054490 -0.659921  0.605431
1           0 -122.235754   6.168667  116.067087  0.102000 -0.628612  0.526202
2           0  -90.161474   3.813632   86.347841  0.141026 -0.605277  0.464251
3           0  -79.904916   2.398803   77.506112  0.156272 -0.602235  0.445963
4           0  -63.885255   0.590667   63.294587  0.180451 -0.591501  0.411050
...       ...         ...        ...         ...       ...       ...       ...
11996       0  -66.237921  38.457041   24.912239  0.094421 -0.552019  0.457598
11997       0  -65.849493  37.465454   25.515675  0.103778 -0.555186  0.451407
11998       0  -65.446698  36.472055   26.106554  0.113107 -0.558211  0.445104
11999       0  -65.029633  35.477088   26.684731  0.122404 -0.561094  0.438690
12000       0  -64.598401  34.480799   27.250065  0.131669 -0.563835  0.432166

[12001 rows x 7 columns]

In [3]:
X = df.drop('output', axis=1)
Y = df['output']

In [4]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [5]:
scaler = StandardScaler()
X_train_ss = scaler.fit_transform(X_train)
X_test_ss = scaler.transform(X_test)
X_train_ss = pd.DataFrame(X_train_ss, columns=X_train.columns)
X_test_ss = pd.DataFrame(X_test_ss, columns=X_test.columns)

In [6]:
df_train = pd.concat([Y_train.reset_index(), X_train_ss], axis=1)
df_test = pd.concat([Y_test.reset_index(), X_test_ss], axis=1)

In [11]:
display(f'Train: {df_train.shape}', df_train.head(), f'Test: {df_test.shape}', df_test.head())

'Train: (9600, 8)'

   index  output        Ia        Ib        Ic        Va        Vb        Vc
0   9451       1  0.386456 -2.252068  2.160659 -0.128934  0.031803  0.095336
1   7766       0  0.129614  0.056600 -0.234447  0.442010  1.256519 -1.715746
2  10376       0 -0.214559  0.252102 -0.052628 -0.312412 -1.236537  1.567081
3   8556       1 -1.996583  0.290750  2.139637 -0.071593  0.139503 -0.070992
4  10869       0 -0.051572  0.019896  0.018140  1.622606 -1.081843 -0.506508

'Test: (2401, 8)'

   index  output        Ia        Ib        Ic        Va        Vb        Vc
0   4954       1  0.120233 -0.471042  0.401911  1.175486  0.164677 -1.331579
1  12000       0 -0.194616  0.173441  0.016819  0.347336 -1.535099  1.217404
2  11760       0  0.120986  0.049029 -0.230852  0.594142  1.139651 -1.747535
3   7532       1  1.914128 -1.818944 -0.251142  0.010710 -0.781645  0.784417
4  11967       0 -0.211388  0.259957 -0.064280 -0.548076 -1.084286  1.645603

In [7]:
# df_train.to_csv('../../data/processed/df_train_v1.csv')
# df_test.to_csv('../../data/processed/df_test_v1.csv')